body {
  font-family: sans-serif;
  background: #f69a73;
}

form {
  width: 80%;
  align-items: center;
  margin: 0 auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
}

.input_wrap {
  margin-bottom: 10px;
  width: 100%;
}
.form_btn {
  align-self: flex-end;

  background: #f69a73;
  border: 4px solid #d87d56;
  color: #ffffff;
  font-size: 14px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}
.form_btn:hover {
  background: #d2691e;
  border: 4px solid #d2691e;
}

.form_btn:active {
}
.form_btn:disabled:hover {
}
.form_btn:disabled {
  background: #68615d;
  border: 4px solid #615c5c;
  cursor: not-allowed;
}
.form_input {
  margin-top: 10px;
  width: 100%;
  padding: 10px 5px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #d87d56;
  text-align: center;
}
.error_span {
  font-size: 10px;
  color: #ff3c3c;
  transition: 0.3s;
}
.error_span.visible {
  opacity: 1;
}
.form-inner:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.error_input {
  border: 2px solid #ff0000;
  background: #919191;
}
.input_file_wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.input-file {
  visibility: hidden;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.file-label {
  position: relative;
}
.icon-file {
  width: 45px;
}

.choise_list {
  list-style-type: none;
  font-size: 10px;
  margin-right: 50px;
}
